<a href="https://colab.research.google.com/github/hemantgowardipe/Python_CRT/blob/main/Copy_of_Day_4_%26_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Collections Data Types
----------------------------------

  -> List
  -> Set
  -> Tuple
  -> Dict
  '''

In [ ]:
'''
List
----------------------------

  ->
  '''

In [ ]:
l = [10, 90, 80, 45, 40, 11, 99]
l

[10, 90, 80, 45, 40, 11, 99]

In [ ]:
sorted(l)

[10, 11, 40, 45, 80, 90, 99]

In [ ]:
for x in sorted(l):
  print(x,end=" ")

10 11 40 45 80 90 99

In [ ]:
l1 = [11, 23, 44, 48, 98, 72]
l2 = [21, 23, 42, 47, 92, 33]
print(l1,l2)

[11, 23, 44, 48, 98, 72] [21, 23, 42, 47, 92, 33]

In [ ]:
# Checking same numbers from two different list
for x in sorted(l1):
  if x in l2:
    print(x,end=" ")

23

In [ ]:
#Checking even nymbers from both the list
for x in sorted(l1):
  if x%2==0:
    print(x,end=" ")
for x in sorted(l2):
  if x%2==0:
    print(x,end=" ")

44 48 72 98 42 92

In [ ]:
#Take input from user till first blank is given and display the whole item list
l = []
while True:
  s = input("Write any thing...")
  if s=="":
    break
  l.append(s)
print(l)

Write any thing...Tea
Write any thing...Coffee
Write any thing...Water
Write any thing...Pav Bhaji
Write any thing...
['Tea', 'Coffee', 'Water', 'Pav Bhaji']

In [ ]:
order_list = []
while True:
  user_order = input("Enter your order: ")
  if user_order == "":
    break
  order_list.append(user_order)
print(order_list)

Enter your order: Tea
Enter your order: Water
Enter your order:
['Tea', 'Water']

In [ ]:
#Define an empty list and insert values from user till first blank is given print list, min, max, sum, avg
l = []
while True:
  s = input("Write any thing...")
  if s=="":
    break
  l.append(int(s))
  print("List",l)
print("Minimum Number",min(l))
print("Maximum Number",max(l))
print("Sum of Numbers",sum(l))
print("Length of list",len(l))
print("Average of Numbers",sum(l)/len(l))

Write any thing...99
List [99]
Write any thing...01
List [99, 1]
Write any thing...021
List [99, 1, 21]
Write any thing...
Minimum Number 1
Maximum Number 99
Sum of Numbers 121
Length of list 3
Average of Numbers 40.333333333333336

In [ ]:
l = [10, 10, 10, 10, 20, 30, 40, 50]
target = int(input("Select the target element from list"))
count = 0
for x in l:
  if x == target:
    count += 1
print("Count =",count)

Select the target element from list10
Count = 4

In [ ]:
l = [10, 10, 10, 10, 20, 30, 40, 50]
target = int(input("Select the target element from list --> "))
print("Position =",l.index(target)+1)
print("Index =",l.index(target))
print("Count =",l.count(target))

Select the target element from list --> 20
Position = 5
Index = 4
Count = 1

In [ ]:
l = [10, 10, 10, 10, 20, 30, 40, 50]
avg = sum(l)/len(l)
print("List --> ",l)

for index in range (len(l)):
  if avg > l[index]:
    l[index] += 10
  else:
    l[index] -=5
print("Average of List",avg)
print("Updated List",l)

List -->  [10, 10, 10, 10, 20, 30, 40, 50]
Average of List 22.5
Updated List [20, 20, 20, 20, 30, 25, 35, 45]

In [ ]:
l = [10, 10, 10, 10, 5, 30, 40, 50, 99,]
max =l[0]
min =l[0]
for element in l:
  if max < element:
    max = element
    if min > element:
      min = element
print("Maximum Number",max)
print("Minimum Number",min)

Maximum Number 99
Minimum Number 10

In [ ]:
#Rotate an array in clock wise direction
l = [1, 2, 3, 4, 5]
print("Original List --> ",l)
for x in range(len(l)-1):
  l.insert(0,l.pop())
  print(l)

Original List -->  [1, 2, 3, 4, 5]
[5, 1, 2, 3, 4]
[4, 5, 1, 2, 3]
[3, 4, 5, 1, 2]
[2, 3, 4, 5, 1]

In [ ]:
# Rotate an list in anti-clock wise direction
l = [1, 2, 3, 4, 5]
print("Original List --> ",l)
for x in range(len(l)-1):
  l.append(l.pop(0))
  print(l)

Original List -->  [1, 2, 3, 4, 5]
[2, 3, 4, 5, 1]
[3, 4, 5, 1, 2]
[4, 5, 1, 2, 3]
[5, 1, 2, 3, 4]

In [ ]:
# prompt: All about tuple

'''
Tuple
----------------------------

  -> Ordered, immutable collection of items.
  -> Defined by enclosing elements in parentheses ().
  -> Can contain elements of different data types.
  -> Indexed, allows slicing.
  -> Faster than lists for iteration (once created) and generally consumes less memory.
  -> Useful for representing fixed collections of data.
'''

# Creating a tuple
my_tuple = (10, 20, 30, "hello", 40.5)
print("My tuple:", my_tuple)

# Accessing elements by index
print("Element at index 0:", my_tuple[0])
print("Element at index 3:", my_tuple[3])

# Slicing a tuple
print("Slice from index 1 to 3:", my_tuple[1:4])
print("Slice from the beginning to index 2:", my_tuple[:3])
print("Slice from index 2 to the end:", my_tuple[2:])

# Tuples are immutable - trying to modify will raise a TypeError
# my_tuple[0] = 100  # This will cause an error

# Length of a tuple
print("Length of the tuple:", len(my_tuple))

# Iterating through a tuple
print("Iterating through the tuple:")
for item in my_tuple:
  print(item)

# Checking if an element exists in a tuple
print("Is 'hello' in the tuple?", "hello" in my_tuple)
print("Is 50 in the tuple?", 50 in my_tuple)

# Concatenating tuples
another_tuple = (50, 60)
combined_tuple = my_tuple + another_tuple
print("Combined tuple:", combined_tuple)

# Repeating a tuple
repeated_tuple = my_tuple * 2
print("Repeated tuple:", repeated_tuple)

# Tuple with a single element (note the trailing comma)
single_element_tuple = (100,)
print("Single element tuple:", single_element_tuple)
print("Type of single element tuple:", type(single_element_tuple))

# Tuple without the trailing comma is just the element itself
not_a_tuple = (100)
print("Not a tuple (without comma):", not_a_tuple)
print("Type of not a tuple (without comma):", type(not_a_tuple))

# Nested tuples
nested_tuple = ((1, 2), (3, 4, 5), 6)
print("Nested tuple:", nested_tuple)
print("Accessing inner tuple:", nested_tuple[0])
print("Accessing element in inner tuple:", nested_tuple[0][1])

# Unpacking a tuple
coordinates = (10, 20, 30)
x, y, z = coordinates
print("Unpacked values:", x, y, z)

# Common tuple methods (limited compared to lists due to immutability)
numbers_tuple = (1, 2, 2, 3, 4, 2, 5)
print("Count of 2 in numbers_tuple:", numbers_tuple.count(2))
print("Index of 3 in numbers_tuple:", numbers_tuple.index(3))

# When to use tuples over lists:
# - When you have a collection of items that should not be changed.
# - For function arguments where the order matters (e.g., coordinates).
# - As dictionary keys (lists cannot be dictionary keys because they are mutable).

My tuple: (10, 20, 30, 'hello', 40.5)
Element at index 0: 10
Element at index 3: hello
Slice from index 1 to 3: (20, 30, 'hello')
Slice from the beginning to index 2: (10, 20, 30)
Slice from index 2 to the end: (30, 'hello', 40.5)
Length of the tuple: 5
Iterating through the tuple:
10
20
30
hello
40.5
Is 'hello' in the tuple? True
Is 50 in the tuple? False
Combined tuple: (10, 20, 30, 'hello', 40.5, 50, 60)
Repeated tuple: (10, 20, 30, 'hello', 40.5, 10, 20, 30, 'hello', 40.5)
Single element tuple: (100,)
Type of single element tuple: <class 'tuple'>
Not a tuple (without comma): 100
Type of not a tuple (without comma): <class 'int'>
Nested tuple: ((1, 2), (3, 4, 5), 6)
Accessing inner tuple: (1, 2)
Accessing element in inner tuple: 2
Unpacked values: 10 20 30
Count of 2 in numbers_tuple: 3
Index of 3 in numbers_tuple: 3

In [ ]:
#Count the frequency of each digit
l = [1,1,2,4,6,0,0,1,1,3,3,2,1,1]
for x in range(7):
  print(x,"-->",l.count(x))

0 --> 2
1 --> 6
2 --> 2
3 --> 2
4 --> 1
5 --> 0
6 --> 1

In [ ]:
user_name_pass_db = {'hemant@gmail.com' : 2005, 'gaurav@gmail.com' : 'gaurav@2004'}
user_name_pass_db

{'hemant@gmail.com': 2005, 'gaurav@gmail.com': 'gaurav@2004'}

In [ ]:
user = input("Enter Username :")
if user in user_name_pass_db:
  password = int(input("Enter Password :"))
  if password == user_name_pass_db[user]:
    print("User Found")
  else:
    print("Password Incorrect")
else:
  print("User Not Found")

Enter Username :hemant@gmail.com
Enter Password :2005
User Found

In [ ]:
import random
import time

user = input("Enter Username :")
if user in user_name_pass_db:
  password = int(input("Enter Password :"))
  if password == user_name_pass_db[user]:

    num1 = random.randint(0, 10)
    num2 = random.randint(0, 10)

    print(num1 , '+', num2, '= ?')

    while True:
      user_answer = int(input())
      if user_answer == num1 + num2:
        time.sleep(3)
        print("Login Successful....")
        break
  else:
    print("Password Incorrect")
else:
  print("User Not Found")

Enter Username :hemant@gmail.com
Enter Password :2005
10 + 3 = ?
13
Login Successful....

In [24]:
l = [1, 1, 2, 4, 6, 0, 0, 1, 1, 3, 3, 2, 1, 1]

my_dict = {}

for x in sorted(set(l)):
  # key (unique)  --> value (frequency)
  my_dict[x] = l.count(x)
  print('key -> ', x, 'value -> ', my_dict[x])

print(my_dict)

key ->  0 value ->  2
key ->  1 value ->  6
key ->  2 value ->  2
key ->  3 value ->  2
key ->  4 value ->  1
key ->  6 value ->  1
{0: 2, 1: 6, 2: 2, 3: 2, 4: 1, 6: 1}