<a href="https://colab.research.google.com/github/hemantgowardipe/Python_CRT/blob/main/CRT_Day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Tokens
---------------------

  -> Identifier
  -> Literal
  -> Symbol
  -> String


Variable Declaration
-----------------------

  -> a to z
  -> A to Z
  -> variable name must be start with character (numbers are allow)
  -> _

In [ ]:
name1 = 'dhanraj'
name2 = "dhanraj"
name3 = '''dhanraj'''
name4 = """dhanraj"""

In [ ]:
print(name1)
print(name2)
print(name3)
print(name4)

dhanraj
dhanraj
dhanraj
dhanraj

In [ ]:
"Hello, 'Dhanraj', Good Afternoon ?"

In [ ]:
print('''"Hello, 'Dhanraj', Good Afternoon ?"''')

"Hello, 'Dhanraj', Good Afternoon ?"

In [ ]:
print(""" "Hello, 'Dhanraj', Good Afternoon ?" """)

 "Hello, 'Dhanraj', Good Afternoon ?"

In [ ]:
'''
document string
'''
print(__doc__)
# single line

document string

In [ ]:
int
float
complex
bool

In [ ]:
num = 10
print(num)

10

In [ ]:
print(id(num))

10751144

In [ ]:
print(type(num))

<class 'int'>

In [ ]:
num = 10
num = 20
print(num)

20

In [ ]:
num = 10
print(id(num), num)
num = 20
print(id(num), num)
print(num)
print(id(num), num)

10751144 10
10751464 20
20
10751464 20

In [ ]:
num = 10
num2 = 10
print(id(num), num)
print(id(num2), num2)

10751144 10
10751144 10

In [ ]:
num1 = 10
num2 = 20
print(num1, num2)

10 20

In [ ]:
num1, num2 = 10, 20
print(num1, num2)

10 20

In [ ]:
num1 = num2 = num3 = 10
print(num1, num2,num3)

10 10 10

In [ ]:
print(num1, num2, sep = "-")

10-10

In [ ]:
Swap two numbers without using third variablr

Sample input    : num1 =10, num2 = 20
Expected output : num1 =20, num2 = 10

In [ ]:
num1, num2 = 10, 20
print("num1 -> ", num1, "num2 -> ", num2)
num1, num2 = num2, num1
print("After swapping num1 -> ", num1, "num2 -> ", num2)

num1 ->  10 num2 ->  20
After swapping num1 ->  20 num2 ->  10

In [ ]:
user_input = input("prompt/message : ")  # input --> v-3
type(user_input)

prompt/message : 10

str

In [ ]:
raw_input()  -> version - 2

In [ ]:
Type casting
------------------
  int(), bool, float, str

In [ ]:
user_input = int(input("prompt/message : "))  # input --> v-3
type(user_input)

prompt/message : 10

int

In [ ]:
user_input = bool(input("prompt/message : "))  # input --> v-3
type(user_input)

prompt/message : hello

bool

In [ ]:
user_input = bool(input("I want a false output : "))
user_input

I want a false output :

False

In [ ]:
Operators
----------------------

  -> Arithmatical
  -> logical
  -> assignment
  -> indentical
  -> membership

In [ ]:
-> Arithmatical
---------------------------

  --> +, -, *, / --> float, %
  --> // --> floor ---> int
  --> ** ---> expontial , power

In [ ]:
a = 5 + 5
b = 10
c = 2*5
d = 100 / 10
e = 100 // 10

print(id(a))
print(id(b))
print(id(c))
print(id(d))
print(id(e))

10751144
10751144
10751144
133467184603696
10751144

In [ ]:
The programs on basics
1. Print given statement
2. Declare & print variables
3. Find sum of numbers
4. Difference of two numbers
5. Multiplication of two numbers
6. Division of two numbers
7. Find last digit of number
8. Add two digits of a number
9. Sum of 3 digits of a number
10. Sum of 4 digits of a number
11. Reverse of a 4 digit number
12. Swap using third variable
13. Swap without third variable
14. Average of three numbers
15. Find total marks & percentage
16. Solve mathematical expressions
17. Swap with bitwise operator
18. Demonstrate macro definition

In [ ]:
num // 10  ---> remove last  digit
num % 10   ---> return last digit

In [ ]:
print(1234 // 10)

123

In [ ]:
print(1234 % 10)

4

In [ ]:
print(1234 / 10)

123.4

In [ ]:
7. Find last digit of number
8. Add two digits of a number
9. Sum of 3 digits of a number
10. Sum of 4 digits of a number
11. Reverse of a 4 digit number

In [ ]:
7. Find last digit of number

Sample input -->  num = 134
Expected output --> last digit is : 4

Sample input -->  num = 1349
Expected output --> last digit is : 9

Sample input -->  num = hello
Expected output --> last digit is : none

In [ ]:
last_digit = int(input("Enter any number : "))
print('last digit is : ', last_digit % 10)

Enter any number : 189
last digit is :  9

In [ ]:
9. Sum of last 3 digits of a number
-------------------------------------

Sample input = num = 123
Expected output : 6

Sample input = num = 1234
Expected output : 9

In [ ]:
num = int(input("Enter any number : "))

# find last digit
last_digit = num % 10
# remove last digit
num = num // 10

second_last_digit = num % 10
num = num // 10

third_last_digit = num % 10

print("Addition is: ", last_digit + second_last_digit + third_last_digit)

Enter any number : 12345987
Addition is:  24

In [ ]:
11.

Sample input -->  num = 1344
Expected output --> last digit is : 4431

Sample input -->  num = 1349
Expected output --> last digit is : 9431

In [ ]:
num = int(input("Enter any number : "))

a = num % 10
num = num // 10

b = num % 10
num = num // 10

c = num % 10
num = num // 10

d = num % 10

print(a*1000 + b*100 + c*10 + d)

Enter any number : 1234
4321

In [ ]:
1. Calculate area of circle:
• Prompt: Write a program that takes the radius of a circle as input and
calculates its area.
• Formula: A = πr²

In [ ]:
input : r
process = area : πr²
output --> area of circle : area

In [ ]:
radius = int(input("Enter radius : "))
area = 3.14 * radius ** 2
print("area of circle : ", area)

Enter radius : 10
area of circle :  314.0

In [ ]:
radius = int(input("Enter radius : "))
print("area of circle : ", 3.14 * radius ** 2)

Enter radius : 10
area of circle :  314.0

In [ ]:
print("area of circle : ", 3.14 * int(input("Enter radius : ")) ** 2)

Enter radius : 10
area of circle :  314.0

In [ ]:
2. Find circumference of circle:
• Prompt: Write a program that takes the radius of a circle as input and
calculates its circumference.
• Formula: C = 2πr
3. Calculate area of rectangle:
• Prompt: Write a program that takes the length and width of a rectangle as
input and calculates its area.
• Formula: A = lw
4. Calculate volume of sphere:
• Prompt: Write a program that takes the radius of a sphere as input and
calculates its volume.
• Formula: V = (4/3)πr³
5. Find surface area of sphere:
• Prompt: Write a program that takes the radius of a sphere as input and
calculates its surface area.
• Formula: SA = 4πr²
6. Find area of square:
• Prompt: Write a program that takes the side length of a square as input and
calculates its area.
• Formula: A = s²
7. Find area of right angle triangle:
• Prompt: Write a program that takes the base and height of a right-angled
triangle as input and calculates its area.
• Formula: A = (1/2)bh
8. Find area of equilateral triangle:
• Prompt: Write a program that takes the side length of an equilateral triangle
as input and calculates its area.
• Formula: A = (√3/4)s²
9. Find perimeter of rectangle:
• Prompt: Write a program that takes the length and width of a rectangle as
input and calculates its perimeter.
• Formula: P = 2l + 2w
10. Find area of triangle:
• Prompt: Write a program that takes the base and height of a triangle (any
triangle) as input and calculates its area.
• Formula: A = (1/2)bh
11. Find simple interest:
• Prompt: Write a program that takes the principal amount, interest rate, and
time period as input and calculates the simple interest.
• Formula: SI = P * R * T
12. Find compound interest:
• Prompt: Write a program that takes the principal amount, interest
rate, compounding frequency, and time period as input and calculates the

In [ ]:
2. Find circumference of circle:
• Prompt: Write a program that takes the radius of a circle as input and
calculates its circumference.

In [ ]:
take input from user

Sample Input    : total-price = 1000, discount = 20
Expected output :

Price    : 1000
Discount : 20
---------------------
Total Amount : 800.0

In [ ]:
total_price = int(input("Enter Total price : "))
discount = int(input("ENter discount : "))

print('Price    : ', total_price)
print('Discount :', discount)
print('---------------------')
print('Total Amount :', total_price - (total_price * discount / 100))

Enter Total price : 1000
ENter discount : 20
Price    :  1000
Discount : 20
---------------------
Total Amount : 800.0

In [ ]:
Coonditions
-----------------

  -> if
  -> if-else
  -> if
        if
        else
  -> if
        if

          if
          else
      else

    ->if
      elif
        if
        else
      elif
      else



Syntax
---------------

if condition (bool):  assignment, membership, indentical
  # at least one statement / pass, break, continue

In [ ]:
clock = int(input("Enter Time :"))

if clock == 10:
  print("Temple...")

if clock == 3:
  print("Movie...")

if clock == 6:
  print("Party...")

Enter Time :10
Temple...

In [ ]:
clock = int(input("Enter Time :"))

if clock == 10:
  print("Temple...")

elif clock == 3:
  print("Movie...")

elif clock == 6:
  print("Party...")

Enter Time :3
Movie...

In [ ]:
if 10 = 20:
  print("done")

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-44-0c15cc042b4a>, line 1)

In [ ]:
num = 10
  if 10 > 2:
    print("done")

IndentationError: unexpected indent (<ipython-input-46-62473983a797>, line 2)

In [ ]:
if 10 > 2:
  print("done")

done

In [ ]:
. Check number is less than 10

Sample test case : num = 10
Expected output  : given number is 10

Sample test case : num = 11
Expected output  : 11 is greater than 10

Sample test case :
Expected output  : 1 is less than 10

In [ ]:
num = int(input("ENter number : "))

if num > 10:
  print(num, "is greater than 10")
elif num == 10:
  print("Given number is 10")
else:
  print(num, "is less than 10")

ENter number : 11
11 is greater than 10

In [ ]:
3. Check voting eligibility
4. Check if number is even or odd

In [ ]:
# 3. Check voting eligibility

age = int(input("ENter age : "))

if age > 18:
  print("Congrats...You are eligible")
elif age == 0:
  print("your age is too less")
else:
  print("Sorry...But You are not eligible now")

ENter age : 20
Congrats...You are eligible

In [ ]:
# 4. Check if number is even or odd

num = int(input())

if num % 2 == 0:
  print(num, "is even")
else:
  print(num, "is odd")

10
10 is even

In [ ]:
Logical Operators
-----------------------
  1. and
  2. or
  3. not


True and True ---> True
False or False ---> False

In [ ]:
print(10 and 20 and 30)

30

In [ ]:
print(10 or 20)

10

In [ ]:
print(10 and 10)

10

In [ ]:
if 10 and 20:
  print("Done")
else:
  print("wrong")

Done

In [ ]:
if 10 > 2 and 20 > 10 and 20 == 20 or 10 < 100:
  print("done")

done

In [ ]:
take a input from user to check the given number is perfectly
divisible by 3 and 5

Sample test case : num = 15
expected output  : 15 is accepted

Sample test case : num = 20
expected output  : 20 is rejected

In [ ]:
# and ---> when all is needed
# or  ---> when any one is needed

num = int(input())

if num % 3 == 0 and num % 5 == 0:
  print(num, " is accepted")
else:
  print(num, " is rejected")

20
20  is rejected

In [ ]:
take a input from user to check the given number is perfectly
divisible by 3 and 5 but not 2

Sample test case : num = 15
expected output  : 15 is accepted

Sample test case : num = 7
expected output  : 7 is rejected

In [ ]:
take a input from user to calculate the percentage

Sample test case : total_marks = 500
expected output  : Percentage : 100.0

Sample test case : total_marks = 100
expected output  : Percentage : 20.0

In [ ]:
5. Enter three angles & check if it is a triangle
6. Find total marks & percentage
7. Check for leap year
8. Check number is +ve, -ve or zero
9. Largest amongst three numbers
10. Print grade of employee
11. Print Color Name
12. Print gross salary of employee
13. Print division scored by student
14. Find greatest among 3 numbers
15. Check if student scored distinction
16. Check type of triangle
17. Check sum of digit greater than 10
18. Print single digit number in words
19. Print numbers in words
20. Read a day of week in digit
21. Perform arithmetic operations
22. Check alphabet is vowel or consonant
23. Check number is even or odd

In [ ]:
# Switch off / on

user_input = input("Enter : (y/n)")

if user_input == 'y':
  print("Switch On")
elif user_input == 'n':
  print("Switch OFF")
else:
  print("Please provide a correct input")

Enter : (y/n)g
Please provide a correct input

In [ ]:

60 < percentage >= 40 = Percentage : ? class : Pass
80 < percentage >= 60 = Percentage : ? class : First
100 =< percentage >= 80 = Percentage : ? class : Merit